.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #fff;

    .logo-inner-container {
        display: flex;
        gap: 250px;
        align-items: center;
        @media (min-width: 768px) and (max-width:1024px) {
            gap: 4rem;
        }

        .logo-img {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                max-height: 100px;
                width: auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .logo-container {
      height: auto;
      padding: 2rem 1rem;
  
      .logo-inner-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1rem;
        justify-items: center;
        align-items: center;
        width: 100%;
  
        .logo-img {
          .logo {
            max-height: 100px;
            width: auto;
          }
        }
      }
    }
  }
  