@import url('../sass/hero.scss');  
@import url('../sass/about.scss');
@import url('../sass/getitsold.scss');
@import url('../sass/searchlistings.scss');
@import url('../sass/logolist.scss');
@import url('../sass/photogallery.scss');
@import url('../sass/service.scss');
@import url('../sass/callvisit.scss');
@import url('../sass/map.scss');
$primary-color: #ffffff;

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(107, 106, 106);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;

  // 👇 Full background image
  background-image: url('../assets/real-estate-assets/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; // important for parallax-like effect
  background-position: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
    z-index: -2;
  }
}
