.search-listings {
    background: url('../assets/real-estate-assets/7.jpg') center/cover no-repeat;
    padding: 4rem 2rem;
    position: relative;
    height: 50vh;
    @media (min-width: 768px) and (max-width:1024px) {
      height: 80vh;
  
      .overlay {
        padding: 2rem; // Reduced padding
        margin: 0 1rem; // Add margin on sides to avoid edge overflow
        max-width: 90%; // Prevents it from getting too wide
      }
    }

    
    .overlay {
      background: white;
      border-radius: 10px;
      max-width: 1200px;
      margin: auto;
      padding: 3rem;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
      @media (min-width: 768px) and (max-width:1024px) {
        height: 80%;
      }
    }
  
    .title {
      font-size: 2rem;
      color: #935f5c;
      font-family: 'Georgia', serif;
      margin-bottom: 2rem;
      text-align: left;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
  
      .form-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
  
        .form-group {
          flex: 1;
          min-width: 200px;
  
          label {
            display: block;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
  
          select,
          input {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            @media (min-width: 768px) and (max-width:1024px) {
              width: 100%;
              height: auto;
              padding: 0.8rem;
            }
          }
          .inp-txt {
            width: 100%;
            @media (min-width: 768px) and (max-width:1024px) {
              width: 90%;
            }
            @media (max-width: 767px) {
              width: 90%;
            }
          }
        }
      }
  
      .button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
  
        button {
          background: #eee;
          color: #444;
          font-weight: bold;
          padding: 0.75rem 2rem;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          transition: background 0.3s ease;
  
          &:hover {
            background: #ddd;
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .search-listings {
      height: auto;
      padding: 2rem 1rem;
  
      .overlay {
        // background: none;
        box-shadow: none;
        padding: 3rem;
      }
  
      .form {
        background: white;
        border-radius: 10px;
        padding: 2rem 1rem;
        margin-top: 2rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  
  